@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap');
:root {
    --primary_color: #603809;
    --secondary_color: #1E1E1E;
    --tertiary_color: #F9C06A;
    --body_color: #707070;
    --primary-transition: 400ms;
    --body_font: "Playfair Display", serif;
    --heading_font: "Playfair Display", serif;
    --secondary_font: "Clicker Script", serif;
}

/* CSS start from here */
body{font-family:var(--heading_font); font-weight:400; color:var(--body_color); font-size:20px; line-height:34px;}
a{text-decoration: none; transition: var(--primary-transition);display: inline-block;}

.button-1 a { padding: 14px 25px; font-weight: 700; color: var(--secondary_color); background: var(--tertiary_color); border-radius: 50px; }
.button-1 a:hover { background-color: var(--primary_color); color: #fff; }
.link-text a { color: #fff; }
.link-text a:hover { color: var(--tertiary_color); }

h1,h2,h3,h4,h5,h6{margin-top:0px; font-weight:400; margin-bottom:15px; color: var(--primary_color); line-height: normal; }
h1 { font-size:220px; font-family:var(--secondary_font);}
h2 { font-size:54px;}
h3 { font-size:28px;}
h4 { font-size:26px;}
h5 { font-size:22px;}
h6 { font-size:20px; }

.white-text,
.white-text h1,
.white-text h2,
.white-text h3,
.white-text h4,
.white-text h5,
.white-text h6{color:#fff;}

/* Hero section css start */
.hero { height: 100vh; position: relative;}
.hero:before { max-width: 768px; width: 100%; height: 100%; position: absolute; content: '';top: 0;left: 0;background: linear-gradient(to right, #1e1e1e 0%,rgb(from #000000 r g b / 0%) 100%);}

.hero .container { height: 100%; }
.hero .inner { display: flex; flex-direction: column; justify-content: center; height: 100%; position: relative;}
.hero .inner .pre-title { font-size: 22px; line-height: normal; font-weight: 500; }
.hero .inner  .white-text { max-width: 527px; width: 100%; }
.hero .button-1{margin-top: 20px;}
/* Hero section css end */

/* CSS end  here */

@media (min-width:576px) { .container{max-width:unset;} }
@media (min-width:768px) { .container{width:750px;} }
@media (min-width:992px) { .container{width:970px;} }
@media (min-width:1200px) { .container{width:1180px;} }
@media (min-width:1400px) { .container{width:1184px;} }


@media (max-width:1629px){}
@media (max-width:1429px){}
@media (max-width:1199px){}
@media (max-width:991px){}
@media (max-width:767px){}